<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ECOURSES - Online Courses HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Free HTML Templates" name="keywords" />
        <meta content="Free HTML Templates" name="description" />
        <link rel="shortcut icon" href="img/logo.webp" type="image/png" />

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon" />
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" /> -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Rubik:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />
        <!-- FontAwesome 6.2.0 CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/site/index.css" rel="stylesheet" />
    </head>

    <body>
        <header><%- include("header") %></header>

        <main>
            <!-- Header Start -->
            <div class="container-fluid page-header" style="margin-bottom: 90px">
                <div class="container">
                    <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                        <h3 class="display-4 text-white text-uppercase">Khóa học</h3>
                        <div class="d-inline-flex text-white">
                            <p class="m-0 text-uppercase"><a class="text-white" href="">Trang chủ</a></p>
                            <i class="fa fa-angle-double-right pt-1 px-3"></i>
                            <p class="m-0 text-uppercase">Khóa học</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->

            <!-- Course Start -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 course-left">
                        <div class="filter p-2 shadow-sm d-flex justify-content-between align-items-center">
                            <input class="" type="text" placeholder="Tìm khóa học" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="filter filter p-4 shadow-sm my-4">
                            <h5 class="font-weight-bold text-primary">Danh mục</h5>
                            <ul id="allCat"></ul>
                        </div>
                        <div class="filter filter p-4 shadow-sm">
                            <h5 class="font-weight-bold text-primary">Giảng viên</h5>
                            <ul id="allTeacher"></ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <% for (const course of listCourse) { %>
                            <div class="course-hot col-lg-6 col-md-6 mb-3">
                                <div class="rounded overflow-hidden mb-1 shadow-sm">
                                    <div class="thumb position-relative">
                                        <img class="img-fluid" src="/img/courses/<%= course.thumb %>" alt="" />
                                        <span><a href="/course/<%= course.id %>">Xem khóa học</a></span>
                                    </div>
                                    <div class="info-course bg-secondary p-3 position-relative">
                                        <div class="d-flex justify-content-between mb-2">
                                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i><%=course.followers%> Học viên</small>
                                            <small class="m-0"><i class="fa-solid fa-eye text-primary"></i> <%= course.views%></small>
                                        </div>
                                        <a style="font-size: 1.1rem" class="h5" href="/course/<%= course.id %>"><%= course.name %></a>
                                        <div class="border-top mt-2 pt-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span style="font-size: 90%" class="m-0"
                                                    ><i class="fa fa-star text-primary mr-1"></i>4.9 <small>(250)</small>
                                                </span>
                                                <h5 style="font-size: 95%" class="m-0 text-primary">
                                                    <%= new Intl.NumberFormat("vi-VN").format(course.price) %> <small>VNĐ</small>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <ul class="pagination mt-4">
                            <% if (currentPage > 1) { %>
                            <li class="page-item"><a class="page-link" href="/courses/page/<%= currentPage - 1 %>">Previous</a></li>
                            <% } %> <% for (let i = 1; i <= totalPage; i++) { %> <% if (currentPage == i) { %>
                            <li class="page-item active"><a class="page-link" href="/courses/page/<%= i %>"> <%= i %></a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/courses/page/<%= i %>"><%= i %></a></li>
                            <% } %> <% } %> <% if (currentPage < totalPage) { %>
                            <li class="page-item"><a class="page-link" href="/courses/page/<%= currentPage + 1 %>">Next</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course End -->
        </main>

        <!-- Footer Start -->
        <footer><%- include("footer") %></footer>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
        <script type="module" src="/js/courses.js"></script>
    </body>
</html>
